@import url('https://fonts.googleapis.com/css/family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
} 
p {
    font-weight: 300;
    color: #111;
    
}
#logo {
    height: 100px;
    width: 300px;
}


.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(../img2/team2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner .content {
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-size: 5em;
    color: #fff;
}
.banner .content p {
    font-size: 1em;
    color: #fff;
}
.btn{
    font-size: 1em;
    color: #fff;
    background: #3001ff;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover{
    letter-spacing: 6px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header.sticky .logo {
    color: #111;
}
header.sticky .navigation li a {
    color: #111;
}

header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header .logo span {
    color: #3001ff;
}
header .navigation {
    position: relative;
    display: flex;
}
header .navigation li {
    list-style: none;
    margin-left: 30px;
}
header .navigation li a {
    
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}
header .navigation li a:hover{
    color: #3001ff;
}
/* about US section */

section{
    padding: 100px;
}
.row {
    position: relative;
    width:100%;
    display: flex;
    justify-content: space-between;
}
.row .col50 {
    position: relative;
    width: 48%;
}

.titleText {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.titleText span {    
    color: #3001ff;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .imgBx {
    position: relative;
    width: 100%;
    height: 100%;
}
.row .col50 .imgBx img{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
}

/* end about US section */

/* Gallery Section */
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gallery .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.gallery .content .box {
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5x 35px rgba(0,0,0,0.08)
}
.gallery .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}
.gallery .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery .content .box .text {
    padding: 15px 0 5px;
}
.gallery .content .box .text h3{
    font-weight: 400;
    color: #111;
}

/* end of Gallery Section */

  /* insects */

.zane {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 50vh;
}
.container {
    display: flex;
    width: 90vw;
}
.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    border-radius: 50px;
    flex: 0.5;
    margin: 10px;
    position: relative;
    color: #fff;
    transition: 0.7s ease-in;
}
.panel h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-transform: uppercase;
    opacity: 0;
    
}
.panel.active {
    flex: 5;
}
.panel.active h3 {
 opacity: 1;
 transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}












  /* insects */

/* Expert Section */

.expert .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.expert .content .box {
    width: 250px;
    margin: 15px;
}
.expert .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
}
.expert .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.expert .content .box .text {
    padding: 15px 0 5px;
}
.expert .content .box .text h3 {
   font-weight: 400;
   color: #111; 
}



.white .titleText,
.white p {
    color: #111;
}

.testimonials .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.testimonials .content .box {
   width: 340px;
   margin: 20px;
   padding: 40px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.testimonials .content .box .imgBx {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
} 

.testimonials .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonials .content .box .text{
  text-align: center;

}
.testimonials .content .box .text p {
    color: #666;
    font-style: italic;

}
.testimonials .content .box .text h3 {
    margin-top: 20px;
    color: #111;
    font-size: 1em;
    color: #ff0157;
    font-weight: 600;
}

/* End of Testimonials */
.contact {
    position: relative;
}
.main-div-flex {
    display: flex;
    height: auto;
    justify-content: space-around;
}
.contactForm {
    align-items: left;
    padding: 75px 150px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width: 500px;
    margin-top: 50px;
}
.contactForm h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    width: 200px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactForm .inputBox input[type="submit"]{
    font-size: 1em;
    color: #fff;
    background: #48487f;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

 /* copyrightt */
.copyrightText {
    height: 32vh;
    background-color: #48487f;
     display: flex;
     justify-content: space-around;
     padding-top: 30px;
     color: #fff;
}
.copyrightText h1:hover {
    color: gray;
}
.copyrightText p{
    color: #fff;
    cursor: pointer;
}
.copyrightText div {
    position: relative;
}
.copyrightText div h1 {
    position: relative;
    text-align: center;
}
.copyrightText .copy-text {
    transition: 0.5s ease-in;
}
.copyrightText .copy-text:hover {
   font-weight: 600;
   letter-spacing: 0.1px;
}
.copyrightText a {
    color: #fff;
  padding: 10px 20px
}
.copyrightText a i {
    font-size: 35px;
}
.copyright {
    margin-top: -300px;
}




/* media queries */

@media (max-width: 991px){
    header,
    header.sticky {
        padding: 10px 20px;
    }
    header .navigation {
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;

    }
    header .navigation li {
        margin-left: 0;
    }
    header .navigation li a {
        
        color: #111;
        font-size: 1.6em;
       
    }
    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active{
        background: url(../close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle {
        filter: invert(1);
    }
    section {
        padding: 20px;
    }
    .banner .content h2 {
        font-size: 3em;
        color: #fff;
    }
    .row {
        flex-direction: row;
    }
    .row .col50{
        position: relative;
        width: 100%;
    }
    .row .col50 .imgBx {
    
        height: 300px;
        margin-top: 20px;
    }
    .gallery .content {
        margin-top: 20px;
    }
    .gallery .content .box {
        margin: 10px;
    }
    .gallery .content .box .imgBx {
        height: 260px;
    }
   

    .title {
        text-align: center;
    }
    .titleText {
       font-size: 1.8em;
       line-height: 1.5em;
       margin-bottom: 15px;
       font-weight: 300;   
    }
    .testimonials .content .box {
        margin: 10px;
        padding: 20px;
    }
    .contactForm{
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px){
    .banner .content h2 {
        font-size: 2.2em;
        color: #111;
    }
}