


@media (max-width: 526px){
  
    #second-para-about {
       display: none;
    }
    #title-para {
        display: none;
    }
    #number-one-para {
        display: none;
    }
    #number-three-para {
        display: none;
    }
    #number-two-para {
        display: none;
    }
    #number-three-para {
        display: none;
    }

}


@media (max-width: 767px){
    video {
     
        height: 45vh;
      }
    #second-para-about {
        display: none;
     }

    #title-para {
        display: none;
    }
    #number-one-para {
        display: none;
    }
    #number-three-para {
        display: none;
    }
    #number-two-para {
        display: none;
    }
    #number-three-para {
        display: none;
    }


}



@media (max-width: 991px){
    #number-one-para {
        display: none;
    }
    #number-three-para {
        display: none;
    }
    #number-two-para {
        display: none;
    }
    #number-three-para {
        display: none;
    }

}


@media (max-width: 1200px){
    #number-two-para {
        display: none;
    }
    #number-three-para {
        display: none;
    }
}